# Project_On 
# Automobile_Data: Assignment Solution

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Let's display the data with first 10 rows and last 10 rows

In [ ]:
data = pd.read_csv('data/automobile/Automobile_Data.csv')
data.head(n=10)

In [ ]:
data.tail(n=10)

In [ ]:
data.shape

In [ ]:
# The info() on the data gives the type of the columns to work with and the columns with null_values

In [ ]:
data.info()

In [ ]:
# the data has the explicit integer index labels
# here the price column has 3 null valus

#### To display the most expensive car company name; let's get the condition for the max price

In [ ]:
max_price_cond = (data['price']==data['price'].max())

In [ ]:
# ['company', 'price']

In [ ]:
# Apply this consition on the data by selecting the columns 'company' & 'price'

In [ ]:
data[['company', 'price']][max_price_cond]

In [ ]:
# we can also check the max price by obtaining the details on the data using describe method.

In [ ]:
data.describe()

#### To display the details of all Toyota cars, we can use below condition on the data

In [ ]:
cond_toyota = (data['company']=='toyota')

In [ ]:
data[cond_toyota]

In [ ]:
# To display the total cars per company in the data set, we can use 'value_counts()' method on the column 'company'

In [ ]:
data['company'].value_counts()

#### To get all companies with the highest price, we can group the data based on 'company' and selecting the column 'price' with max() attribute

In [ ]:
company_group = data.groupby('company')

In [ ]:
company_group['price'].max()

#### To display all company names with average mileage, we can group the data based on the 'company' and then selecting the column 'average-mileage' with mean() attribut to get the average mileage on the selected column

In [ ]:
company_ave_mileage = data.groupby('company')

In [ ]:
company_ave_mileage['average-mileage'].mean()

#### In order work with the 'num-of-cylinders', let's count how many cars are having the cylinders 'four' through 'twelve'

In [ ]:
data['num-of-cylinders'].value_counts()

In [ ]:
# similarly we can count on 'horsepower'
# data['horsepower'].value_counts()

In [ ]:
# and also on 'average-mileage'
# data['average-mileage'].value_counts()

In [ ]:
# Let's display all companies producing the cars with 'num-of-cylinders'is equal to'six'

In [ ]:
data[(data['num-of-cylinders']=='six')]

In [ ]:
len(data[(data['num-of-cylinders']=='six')])

#### Now it is our time to display all comapnies details which are producing the cars with 'average-mileage' greater than or equal to 35

In [ ]:
data[(data['num-of-cylinders']=='four') & (data['average-mileage'] >= 35)]

In [ ]:
print(len(data[(data['num-of-cylinders']=='four') & (data['average-mileage'] >= 35)]))